/* import style for forms
-------------------------------------------------------- 

*/
@import url(forms.css);


/* general
-------------------------------------------------------- 
  
*/
html,body{margin:0;padding:0;}

html{
    background:#E6E6E6;
    overflow-y: scroll; /* Gör att scrollbar alltid visas så att sidan inte hoppar när sidinnehållet är 'kort' */
}
body{background:#fff;}

body{font-family:Georgia, serif;color:#333;}

h1 {
    text-transform:uppercase;
}
h1,h2 {
    border-bottom:1px solid #dddddd;
}

img {
    border:0;
}

/* html5 elements
-------------------------------------------------------- 
*/
header,footer,nav,article,section,aside,figure,figcaption {
    display:block;
}

/* page structure
-------------------------------------------------------- 

        Layout and size of header, content and footer
        
*/
/* the header with related links navigation */
header#above {
    font-family:arial,helvetica,sans-serif;
    border-bottom:1px solid #E6E6E6;
    margin-bottom:4px;
    color:#000;
}

/* set width and center page */
header#top,
div#content,
footer#bottom {
    margin:0 auto;
    width:800px;
}

/* add common padding to main content block */
div#content {
    padding:1em 0 1em 0;
}

/* add padding and background to the footer block */
div#footer {
    padding-bottom:20px;
    background:#E6E6E6;
}

/* a links
-------------------------------------------------------- 
*/
a {	
    color: inherit; 
    outline:0;
}
a:link    { }
a:visited { }
a:hover   { 
    text-decoration:none; 
    color:#5C0A0A; 
}
a:active  { }

/* navigation menu
-------------------------------------------------------- 
*/
nav.navmenu {
	font-family: arial;
	font-weight: bold;
	padding: 2px 8px;
	background:#656565;
	border:2px solid #858585;
        
        /* border radius styling with the help of http://border-radius.com/ */
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        
        /* skugga */
        -moz-box-shadow: 10px 10px 5px #888;
        -webkit-box-shadow: 10px 10px 5px #888;
        box-shadow: 10px 10px 5px #888;
}
nav.navmenu a {padding:6px 8px;text-decoration:none;border:2px solid transparent;color:#fff;}
nav.navmenu a:hover {background:#858585;border:2px solid #656565;}

nav.related,
nav.login {
	padding: 0.2em 1em 0.3em 1em;
	font-size:smaller;
}

nav.login {
    float:right;
}

/* highlight current choice in navigation menu
--------------------------------------------------------
 
*/
body#me a#me-,
body#report a#report-,
body#test a#test-,
body#usefulLinks a#links-,
body#source a#source- {background:#858585;border:2px solid #656565;}

/* navigation menu for vertical menus
-------------------------------------------------------- 

*/
nav.vmenu ul,
nav.vmenu ul ul {
    list-style:none;
    padding:0;
    margin:0;
    font-size: small;
} 

nav.vmenu ul h4 {
    margin-bottom: 4px;
}

nav.vmenu ul ul li a {display:list-item;padding:2px 0 2px 0;}
nav.vmenu ul ul li a:hover {background-color:#E6E6E6;}

nav.vmenu ul ul li {
    padding-left: 7px;
}

/* use custom image for list marker, cross-browser solution (?) */
nav.vmenu ul ul li a {
background-image: url(../img/favicon_glider.ico);
background-repeat: no-repeat;
background-position: 0 2px;
padding-left: 22px; 
}

.highlighted {
    background-color:#E6E6E6;
    font-weight: bold;
}

/*
ul#kmom02-pagestyle       li#pagestyle       > a,
ul#kmom03-get             li#get             > a,
ul#kmom03-getform         li#getform         > a,
ul#kmom03-postform        li#postform        > a,
ul#kmom03-validate        li#validate        > a,
ul#kmom03-server          li#server          > a,
ul#kmom03-sessiondestroy  li#sessiondestroy  > a,
ul#kmom03-sessionchange   li#sessionchange   > a,
ul#kmom03-session         li#session         > a,
ul#kmom03-create-password li#create-password > a
{background-color:#E6E6E6;} 
*/

/* figure & figcaption
-------------------------------------------------------- 
*/
figure {
    border:1px solid #E6E6E6;
    padding:4px;
    margin:1em;
}
figcaption {
    font-style:italic;
    font-size:smaller;
    padding-left:1em;
}

figure.right{
    margin-right:0;
}
figure.top{
    margin-top:0;
}
figure.fullwidth{
    margin-left:0;margin-right:0;
}

/* Misc classes
-------------------------------------------------------- 
*/
.right {
    float:right;
}
.left {
    float:left;
}
.justify, 
.justify-para p {
    text-align:justify;
}

/* Border on right hand side of a column. */
.border {
  padding-right: 1em;
  margin-right: 5px;
  border-right: 1px solid #ddd;
}

/* clearer fix */
div#content {
    overflow:auto;
}

/* Display code in a block */
blockquote.code {font-family:monospace;white-space:pre;background:#F2F2F2;
margin-left:0;margin-right:0;padding-left:0.5em;
border:1px solid #999;overflow:auto;
}

/* article byline & signature
-------------------------------------------------------- 

*/
footer.byline {
        clear: both;
	border-top: 1px dashed #999999;
	margin-top:2em;
	padding: 1em;
	color: #555555;
	font-size: smaller;
	font-style:italic;
}

footer.byline img {
    padding:2px;
    outline:#999999 groove 1px;
}

/* page footer
-------------------------------------------------------- 

*/
footer#bottom {
	font: italic 0.8em Arial, Helvetica, sans-serif;
	color: #4D4D4D;
}

/* Extra features
-------------------------------------------------------- 
*/

/* Gradient som går mot rött */
.gradient1 {
 background: -webkit-gradient(linear, left top, left bottom, from(#FFD1D1), to(#FF1F1F)); 
 background: -moz-linear-gradient(top,  #FFD1D1,  #FF1F1F);
} 

/* Gradient som går mot rött och sedan tillbaka igen */
.gradient2 {
 background: -webkit-gradient(linear, left top, left bottom,     color-stop(0.0, #FFD1D1), color-stop(0.60, #FF1F1F), color-stop(1.00, #FFD1D1)); 
 background: -moz-linear-gradient(top,  #FFD1D1 0%,  #FF1F1F 60%, #FFD1D1 100%);
}

/* Olika grader av genomsläpplighet */
.opaque1 {background:hsla(0,50%,80%,1);} /* Ingen */
.opaque2 {background:hsla(0,50%,80%,0.66);} /* 33% genomskinlig */ 
.opaque3 {background:hsla(0,50%,80%,0.33);} /* 66% genomskinlig */
.opaque4 {background:hsla(0,50%,80%,0.10);} /* 90% genomskinlig */

/* column-count -> kolumnuppdelning */
.col2 { /* Två kolumner */
 -moz-column-count:2;
 -webkit-column-count:2;
 column-count:2;
}
.col3 { /* Tre kolumner */
 -moz-column-count:3;
 -webkit-column-count:3;
 column-count:3;
}